# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = funcheapsf.settings

[scrapyd]
# application = scrapy_heroku.app.application

[deploy:local]
url = http://localhost:6800/
project = funcheapsf

[deploy:heroku]
url = http://tranquil-reef-2635.herokuapp.com:80/
project = funcheapsf
